@CHARSET "UTF-8";
@import "compass/css3";

.llamada-gratis {
	margin: 1em 1em 0 0;

	// common position properties:
	&.bottom-right,
	&.bottom-left,
	&.top-right,
	&.top-left {
		position: absolute;
		display: block;
	}

	&.inline-block {
		display: inline-block;
	}

	&.inline {
		display: inline;
	}

	// specific position properties:
	&.bottom-right {
		bottom: 0;
		right: 0;
	}
	&.bottom-left {
		bottom: 0;
		left: 0;
	}
	&.top-right {
		top: 0;
		right: 0;
	}
	&.top-left {
		top: 0;
		left: 0;
	}

	a {
		@include border-radius(1em);
		border: none;
		display: block;
		padding: 1em;
		background-color: #efe;

		.sprite {
			background: transparent url('../images/phone.png') 0 0 no-repeat;
			display: inline-block;
			width: 50px;
			height: 69px;
			@include border-radius(1em);
		}

		&:hover {
			background-color: white;

			.sprite {
				background-position: -50px 0;
			}
		}
	}
}